rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Доступ до груп
    match /groups/{groupTag} {
      allow read, write: if true;
    }

    // Доступ до фотографій
    match /photos/{photoId} {
      allow read, write: if true;
    }
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
